body {
	background-image: url("images/bg-pattern-top-desktop.svg");
	background-repeat: no-repeat;
	font-family: Spartan;
	color: hsl(300, 43%, 22%);
	font-size: 15px;
	padding: 60px 0px 0px 0px;
	margin: 0;
	width: 375px;
	text-align: center;
}

h1 {
	font-size: 48px;
	margin:0;
	padding: 0;
	text-align: center;
}

h2 {
	font-weight: 500;
	font-size: 15px;
	display: inline-block;
	margin-top: 20px;
}

h3 {
	font-weight: 400;
	font-size: 15px;
	color: hsl(333, 80%, 67%);
	margin-left: 20px;
	margin-top:0;
}

p {
	font-weight: 400;
	line-height: 2;
	margin-top: 40px;
	margin-bottom: 0;
}

.content-box {
	background-image: url("images/bg-pattern-bottom-desktop.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 375px;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main-text {
	margin: 0;
	padding: 0;
	text-align: center;
}

.rating-text {
	margin-left: 20px;	
}

.headline {
	width: 100%;
}

.ratings {	
	text-align: center;
}

.rating-1-pos {
}

.rating-1 {
	background-color: hsl(300, 24%, 96%);
	padding: 10px 30px;
	width: 335px;
	height: 90px;
	border-radius: 10px;
	margin: 10px;
}

.rating-2-pos {
	width: 100%;
	height: 90px;
}

.rating-2 {
	background-color: hsl(300, 24%, 96%);
	padding: 10px 30px;
	width: 100%;
	border-radius: 10px;
	margin: 10px;
}

.rating-3-pos {
	width: 100%;
	height: 90px;
}

.rating-3 {
	background-color: hsl(300, 24%, 96%);
	padding: 10px 30px;
	width: 100%;
	border-radius: 10px;
	margin: 10px;
}

.profile-pic {
	border-radius: 90px;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
	width: 60px;
}

.testimonials {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.testimonial-1 {
	width: 100%;
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 30px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	text-align: left;
}

.testimonial-2 {
	width: 100%;
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 30px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	top: 20px;
	text-align: left;
}

.testimonial-3 {
	width: 100%;
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 30px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	top: 40px;
	text-align: left;
}

.attribution {
	font-size: 12px;
	margin: 15px;
}
