body {
	background-image: url("images/bg-pattern-top-mobile.svg");
	background-repeat: no-repeat;
	font-family: Spartan;
	color: hsl(300, 43%, 22%);
	font-size: 15px;
	padding: 60px 0px 0px 0px;
	margin: 0;
}

h1 {
	font-size: 48px;
	margin: 0px 0px 20px 0px;
	padding: 0;
	text-align: center;
}

h2 {
	font-weight: 500;
	font-size: 15px;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

h3 {
	font-weight: 400;
	font-size: 15px;
	color: hsl(333, 80%, 67%);
	margin-left: 20px;
	margin-top: 10px;
}

p {
	font-weight: 400;
	line-height: 2;
 	margin: 10px 0px 0px 0px;
	padding: 0;
}

.content-box {
	background-image: url("images/bg-pattern-bottom-mobile.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.main-text {
	margin: 0px 0px 20px 0px;
	text-align: center;
}

.ratings {
	margin-bottom: 40px;
}

.rating-1 {
	background-color: hsl(300, 24%, 96%);
	border-radius: 10px;
	margin: 10px 0px;
	text-align: center;
	padding: 20px 30px;
}

.rating-2 {
	background-color: hsl(300, 24%, 96%);
	border-radius: 10px;
	margin: 10px 0px;
	text-align: center;
	padding: 20px 30px;
}

.rating-3 {
	background-color: hsl(300, 24%, 96%);
	border-radius: 10px;
	margin: 10px 0px;
	text-align: center;
	padding: 20px 30px;
}

.profile-pic {
	border-radius: 90px;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
	width: 60px;
}

.testimonial-1 {
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	margin: 20px 0px;
}

.testimonial-2 {
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	margin: 20px 0px;
}

.testimonial-3 {
	background-color: hsl(300, 43%, 22%);
	color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	margin: 20px 0px;
}

.attribution {
	font-size: 12px;
	margin: 15px;
	text-align: center;
}
